<ul class="nav nav-list">
	<li class="nav-header"><%=t('bassi.sidebar.finding_aid.title')%></li>
	<li><i class="icon-download"></i> <%=t('bassi.sidebar.finding_aid.download_pdf')%></li>
	<li><i class="icon-download"></i> <%=t('bassi.sidebar.finding_aid.download_ead')%></li>
</ul>
