<ul class="nav nav-list">
	<li class="nav-header"><%=t('bassi.sidebar.finding_aid.title')%></li>
	<li><i class="icon-download"></i> <%=t('bassi.sidebar.finding_aid.download_pdf')%></li>
	<li>
	  <%= link_to 'https://github.com/sul-dlss/bassi-ead-xml/archive/download.zip' do %>
      <i class="icon-download"></i>
      <%= t('bassi.sidebar.finding_aid.download_ead') %>
	  <% end %>
  </li>
</ul>
