<script>$(function() {
  $('#terms-dialog').modal({keyboard: false, backdrop: 'static'},'show')});
</script>

<div class="modal fade" id="terms-dialog">
  <div class="modal-header">
    <h3><%=t('bassi.about.terms_dialog_title')%></h3>
  </div>
  <div class="modal-body">
    <p><%=t('bassi.nav.terms_of_use_message')%></p>
    <p><%=t('bassi.nav.terms_of_use_acknowledgement')%></p>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal"><%=t('bassi.nav.terms_continue')%></a>
  </div>
</div>
