<% # main container for facets/limits menu -%>
<% if has_facet_values?  %>
  <div id="facets-bassi" class="row">
    <div class="col-xs-8">
      <h4><%= t('blacklight.search.facets.title') %></h4>
    </div>
    <div class="col-xs-4">
      <div class="burgerbox" data-toggle="collapse" data-target="facets-collapse">
        <a class="btn btn-default"><span class="glyphicon glyphicon-menu-hamburger"></span></a>
      </div>
    </div>
  </div>
  <div id="facets" class="facets sidenav">
    <div class="facets-collapse">
      <%= render_facet_partials %>
    </div>
  </div>
<% end %>&nbsp;
