<div id="item_actions-dropdown" class="dropdown pull-right  hidden-phone">
  <span class="hide-text"><%= t('bassi.show.item_actions') %></span>
  <ul class="css-dropdown">
    <li class="btn btn-default btn-xs">
      <%=t('bassi.show.item_actions')%>
      <span class="caret"></span>
      <ul>
        <!-- <li><%#= link_to t('bassi.sidebar.actions.print'), '#' %></li> -->
        <li class="cite">
         <%= link_to t('bassi.sidebar.actions.cite'), citation_solr_document_path(:id => @document), {:id => 'citeLink', :class => 'lightboxLink'} %>
        </li>
        <%- # extracted from show_tools partial %>
        <% if @document.respond_to?( :to_email_text ) %>
          <li class="email">
          <%= link_to t('blacklight.tools.email'), email_solr_document_path(:id => @document), {:id => 'emailLink', :name => 'email', :class => 'lightboxLink'} %>
          </li>
        <%- end -%>
      </ul>
    </li>
  </ul>
</div>
