<ul class="nav nav-list">
  <li class="nav-header"><%= t('bassi.sidebar.actions.title') %></li>
  <li><%= link_to t('bassi.sidebar.actions.view_in_inventory'), inventory_path(:anchor => "box#{@document.box}-folder#{@document.folder}") %></li>
  <li><%= link_to t('bassi.sidebar.actions.print'), '#' %></li>
  <li><%= link_to t('bassi.sidebar.actions.cite'), '#' %></li>
</ul>
