<div class="modal-header">
  <h3><%= t('bassi.show.cite.title') %></h3>
</div>

<%= render :partial => 'citation' -%>

<div class="modal-footer">
  <button class="btn btn-default" data-dismiss="modal">
    <%= t('bassi.nav.close') %>
  </button>
</div>
