<div id="content" class="span9">
  <h2><%=t('bassi.home.collection_highlights')%></h2>

	<% @highlights.each do |highlight| %>
		<%= link_to(image_tag(highlight.image_url, :class => 'highlight-poster-image'),catalog_index_path(:q=>"#{highlight.query}"))  %>
    <h3 class="collection-title"><%= link_to(highlight.send("name_#{I18n.locale}"),catalog_index_path(:q=>"#{highlight.query}"))  %></h3>
    <span>(<%=t('bassi.show.item',:count=>highlight.collection_highlight_items.size)%>)</span>
  	<br />
	<% end %>
	
</div>
