#facets {
  background-color: #fff;
  h5 {
    background-color: lighten($facet_box_background_color, 3%);
    border-bottom: 1px solid #d4d4d4;
  }
  a {
    border-bottom: none;
    color: $facet_link_color;
    font-size: 14px;
    text-decoration: none;
  }
  a:hover {text-decoration: underline;}
  span.selected {
    background-color: $header_bg_color;
    color: $facet_selected_color;
  }
  ul {
    padding-bottom: 2px;
    padding-top: 10px;
  }
  .missing.subsection {padding-left: 12px;}
}

/* "#facets-bassi" serves as "#facets" does in Blacklight for CSS below.
   An extra wrapper div with the id of "facets-bassi" is used to
   move the Browse heading outside of the facet box (for Bassi theme)
   and keep the responsive controls working as intended.
*/
#facets-bassi {
  clear: both;
  margin-top: 30px;
  .burgerbox {
    display: none;
  }
  .glyphicon-menu-hamburger { // button for toggling facets in responsive layouts
    padding: 7px 10px;
    // @include button-variant(darken($navbarBackgroundHighlight, 5%), darken($navbarBackground, 5%)); // FIXME: no such variables
    @include box-shadow(#{inset 0 1px 0 rgba(255,255,255,.1), 0 1px 0 rgba(255,255,255,.075)});
  }
}

#facets {
  .glyphicon {
    float: right;
  }
  .limit_content .current {
    margin-left: 14px;
    form.range_limit {
      margin-top: 12px;
      input.range_begin, input.range_end {
        width: 3em;
      }
    }
  }
}

@media (max-width: 767px) {
  #facets-bassi .burgerbox {
    display: block;
    float: right;
    margin: 5px;
  }
}

#sidebar {
  .limit_content .current {
    margin-left: 14px;
  }
  form.range_limit {
    margin-left: 14px;
    margin-top: 12px;
    input.range_begin, input.range_end {
      width: 3em;
    }
  }
  .ui-widget-header {
    background: darken($header_bg_color, 5%);
  }
  .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background: darken($header_bg_color, 10%);
  }
  .ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover,
  .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
    background: #c08e1a;
    border: darken(#c08e1a, 10%);
  }
}
