#facets {
  background-color: #fff;
  h5 {
    background-color: lighten($facet_box_background_color, 3%);
    border-bottom: 1px solid #d4d4d4;
  }
  a {
    border-bottom: none;
    color: $facet_link_color;
    font-size: 14px;
    text-decoration: none;
  }
  a:hover {text-decoration: underline;}
  span.selected {
    background-color: $header_bg_color;
    color: $facet_selected_color;
  }
  ul {
    padding-bottom: 2px;
    padding-top: 10px;
  }
  .missing.subsection {padding-left: 12px;}
}

/* "#facets-bassi" serves as "#facets" does in Blacklight for CSS below.
   An extra wrapper div with the id of "facets-bassi" is used to
   move the Browse heading outside of the facet box (for Bassi theme)
   and keep the responsive controls working as intended.
*/
#facets-bassi {
  clear: both;
  margin-top: 30px;
  .navbar-btn {
    // Navbar button for toggling navbar items in responsive layouts
    // These definitions need to come after '.navbar .btn'
    display: none;
    float: right;
    padding: 7px 10px;
    margin-left: 5px;
    margin-right: 5px;
    // @include buttonBackground(darken($navbarBackgroundHighlight, 5%), darken($navbarBackground, 5%)); TODO: FIXME
    @include box-shadow(#{inset 0 1px 0 rgba(255,255,255,.1), 0 1px 0 rgba(255,255,255,.075)});
    & .glyphicon-bar {
      display: block;
      width: 18px;
      height: 2px;
      background-color: #f5f5f5;
      border-radius: 1px;
      @include box-shadow(0 1px 0 rgba(0,0,0,.25));
    }
    & .glyphicon-bar + .glyphicon-bar {
      margin-top: 3px;
    }
  }
  .limit_content .current {
    margin-left: 14px;
    form.range_limit {
      margin-top: 12px;
      input.range_begin, input.range_end {
        width: 3em;
      }
    }
  }
}

@media (max-width: 767px) {
  #facets-bassi .navbar-btn {
    display: block;
    margin: 5px;
  }
}

#sidebar {
  .limit_content .current {
    margin-left: 14px;
  }
  form.range_limit {
    margin-left: 14px;
    margin-top: 12px;
    input.range_begin, input.range_end {
      width: 3em;
    }
  }
  .ui-widget-header {
    background: darken($header_bg_color, 5%);
  }
  .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background: darken($header_bg_color, 10%);
  }
  .ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover,
  .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
    background: #c08e1a;
    border: darken(#c08e1a, 10%);
  }
}
