/* TODO: Refactor to use mix-ins, etc. */

#brandbar {
  min-height: 35px;
}

#header-navbar-static-top {
  border-bottom: 1px solid $nav_border_color;
  box-shadow: 0 5px 5px -7px #999;
  &.navbar {
    font-family: "Palatino", "Palatino Linotype", "URW Palladio L", "Book Antiqua", Georgia, serif;
    .logo {
      text-align: center;
      img {
        border: 1px inset #f7f7f7;
        border-radius: 5px;
        box-shadow: 0 0 8px rgba(0,0,0,0.1);
        box-shadow: inset 0 0 8px $header_bg_color, -4px -3px 10px #ccc;
        max-height: 125px;
        display: block;
        margin: auto;
        opacity: 0.85;
        &:hover {opacity: 1;}
      }
    }
    .nav {
      border-bottom: 1px solid $nav_border_color;
      border-top: 1px solid $nav_border_color;
      clear: left;
      margin-top: 6px;
      padding-bottom: 3px;
      width: 100%;
      > li {
        &.active > a {
          color: $active_nav_link_color;
        }
        > a {
          border-bottom: none;
          box-shadow: none;
          color: $nav_link_color;
          font-weight: bold;
          font-size: 0.965em;
          font-size: 15px;
          -webkit-font-smoothing: antialiased;
          padding: 8px 25px 5px 3px;
          &:hover, &:focus, &active {color: $active_nav_link_color;}
        }
      }
      > li:last-child > a {padding-right: 0}
    }
  }
  h1 {
    border-bottom: none;
    font-size: 3.1em;
    font-family: "cronos-pro-subhead","Helvetica","Arial",sans-serif;
    margin: 0;
    line-height: 1.5em;
    padding-bottom: 0;
    &.it {font-size: 2.8em;}
  }
  .navbar-inner {
    background: $header_bg_color;
    background-image: asset_url($header_bg_image, image);
    border: none;
    box-shadow: none;
    padding-bottom: 15px;
    padding-top: 15px;
    .language-toggle {
      color: #737270;
      font-size: 13px;
      text-align: right;
    }
  }
  &.navbar .nav > .active > a,
  &.navbar .nav > .active > a:hover,
  &.navbar .nav > .active > a:focus {
    background-color: transparent;
  }
}

/* Phones: reduce logo size and center site title and nav elements */
@media (max-width: 480px) {
  #header-navbar-static-top {
    .logo img {
      display: none !important;
    }
    &.navbar {
      h1 {
        font-size: 1.75em;
        float: none;
        text-align: center;
      }
      .language-toggle {text-align: center;}
    }
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  #header-navbar-static-top {
    .navbar-inner {padding-bottom: 5px;}
    .logo img {
      float: left;
      max-width: 75px;
    }
    &.navbar {
      .site-header-content {text-align: center;}
      h1 {
        font-size: 2.5em;
        float: none;
        &.it {font-size: 2.2em;}
      }
      .language-toggle {text-align: center;}
      .nav > li:last-child > a {padding-right: 25px}
    }
  }
}
/* Tablets: reduce logo size and add some extra space between logo
   and site title and nav elements */
@media (min-width: 768px) and (max-width: 979px) {
  #header-navbar-static-top {
    .navbar-inner {padding-bottom: 0;}
    h1 {
      font-size: 2.75em;
      &.it {font-size: 2.5em;}
    }
    .logo img {
      float: right;
      max-width: 80px;
    }
    &.navbar {
      .site-header-content {margin-left: 30px;}
      .language-toggle {text-align: left;}
    }
  }
}
