.collection-highlights {
  ul.image-grid {
    list-style-type: none;
    margin-left: 0;
    h3.collection-title {
      font-size: 1.125em;
      line-height: 1.1em;
      margin-bottom: 3px;
      margin-top: 6px;
      padding: 0 0 0 15px;
      text-align: center;
      > a {color: #5E564B;}
    }
    span {
      color: #555;
      display: block;
      font-size: 12px;
      padding-left: 15px;
      text-align: center;
    }
  }
  ul.image-grid li.image-item {
    clear: none;
    float: left;
    margin-bottom: 20px;
    margin-right: 40px;
    max-width: 160px;
    min-height: 210px;
    img {
      background-color: #f7f7f7;
      border: 2px solid darken($header_bg_color, 8%);
      border-radius: 4px;
      padding: 5px;
    }
  }
}
