.highlights-link {
  @include styled_link;
}

.featured-collections {
  margin-bottom: 15px;
  h3.collection-title {
    line-height: 1.1em;
    margin-bottom: 3px;
    margin-top: 6px;
    padding: 0;
    text-align: center;
    > a {
      border-bottom: none;
      color: #000;
    }
  }
  img {
    background-color: #f7f7f7;
    border: 2px solid darken($header_bg_color, 8%);
    border-radius: 4px;
    box-shadow: 2px 2px #eee;
    padding: 5px;
    width: 90%;
  }
  span {
    color: #555;
    display: block;
    font-size: 12px;
    text-align: center;
  }
}
.about-dl {
  p {width: 95%;}
  img {
    border: 1px solid darken($header_bg_color, 8%);
    border-radius: 4px;
    box-shadow: 2px 2px #eeeeee;
    float: left;
    margin-right: 12px;
  }
}
.overview {margin-top: 15px;}
.overview.tabbable {
  display: inline-block;
  margin-left: 30px;
  margin-top: -1px;
  float: right;
  font-size: 13px;
  .nav-pills {
    margin-bottom: 0;
    li > a {
      background-color: $header_bg_color;
      border: 1px solid darken($header_bg_color, 5%);
      padding-top: 4px;
      padding-bottom: 4px;
    }
    li > a:hover {
      background-color: darken($header_bg_color, 5%);
    }
    .active > a, .active > a:hover {
      background-color: darken($header_bg_color, 10%);
      border: 1px solid darken($header_bg_color, 10%);
      color: $active_link_color;
    }
  }
}

.overview-area {
  background-color: #f7f7f7;
  border: 2px solid darken($header_bg_color, 8%);
  border-radius: 4px;
  clear: both;
  margin-top: 15px;
  padding: 10px;
}

#result_map {
	height: 375px;
	width: 100%;
}

#result_map img { max-width:none; }

@media (max-width: 767px) {
  .featured-collections .featured-collection {
    margin-bottom: 20px;
    &:last-child {margin-bottom: 0;}
    h3.collection-title {
     text-align: left;
     margin-left: 8px;
    }
    span {
      text-align: left;
      margin-left: 8px;
    }
    img {
      max-width: 250px;
    }
  }
}
