/* Adjust Stanford Identity styles that have been previously overriden by Bassi or Blacklight styles */

#brandbar {
  background: #585754;
  #report-problem {
    float: right;
    font-size: 0.85em;
    margin-top: 9px;
    a {color: #ddd;}
  }
}
#global-footer, #global-footer .container {
  background: #8A887D;
  a, p.copyright {
    border-bottom: none;
    color: darken(#f7f7f7, 5%);
  }
  p.copyright {
    margin: 0;
    line-height: 1.5em;
    text-align: left;
  }
  .partner-icons {;
    float: right;
    margin-top: -55px;
    width: 170px;
    .ibc-logo img {
      margin-right: 20px;
    }
    img {
      float: left;
      width: 75px;
    }
  }
}

@media (max-width: 480px) {
  #global-footer .container {
    .partner-icons {
      width: 0;
      img {display: none;}
    }
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  #global-footer .container {
    ul {width: 50%;}
    .partner-icons {
      width: 110px;
      margin-top: -135px;
      margin-right: 20px;
      .ibc-logo img {margin-right: 10px;}
      img {width: 50px;}
    }
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  #global-footer .container {
    .partner-icons {
      margin-top: -45px;
      width: 90px;
      .ibc-logo img {margin-right: 10px;}
      img {width: 40px;}
    }
  }
}
