@mixin modal-header {
	background-color: #93190c;
	color: #fff;
	text-align: center;
}

/* beta version warning elements */
#terms-dialog.modal {
	text-align: center;
	p {
		font-size: 110%;
		font-weight: bold;
	}
}
#terms-dialog.modal {
	.modal-header {@include modal-header;}
	.modal-footer {
		border: none;
		background-color: inherit;
		padding: 0 15px 20px;
		text-align: center;
	}
}
